# Runtime
NODE_ENV=development
PORT=3000
API_PREFIX=api

# Database
DATABASE_URL=postgresql://aquaerp:aquaerp@localhost:5432/aquaerp?schema=public

# PostgreSQL (docker-compose)
POSTGRES_USER=aquaerp
POSTGRES_PASSWORD=aquaerp
POSTGRES_DB=aquaerp
POSTGRES_PORT=5432

# Swagger
SWAGGER_ENABLED=true
SWAGGER_PATH=docs

# CORS
CORS_ORIGIN=http://localhost:4200
