<mat-form-field appearance="outline">
  <mat-label>{{ label() }}</mat-label>
  <input
    matInput
    readonly
    [required]="required()"
    [disabled]="disabled()"
    [matDatepicker]="picker"
    [min]="dateLimit(min())"
    [max]="dateLimit(max())"
    [value]="value()"
    (dateChange)="change($event.value)"
    (blur)="touch()"
    (click)="picker.open()"
  />
  <mat-datepicker-toggle matIconSuffix [for]="picker" />
  <mat-datepicker
    #picker
    panelClass="aqua-date-picker"
    (closed)="touch()"
  />
  @if (hint()) {
    <mat-hint>{{ hint() }}</mat-hint>
  }
  @if (required() && touched() && !value()) {
    <mat-error>Selecciona una fecha.</mat-error>
  }
</mat-form-field>
